.Green {
  background-color: #33cc33;
  text-align: center;
  font-weight: bold;
  width: auto;
}

.Yellow {
  background-color: #ffff00;
  text-align: center;
  font-weight: bold;
}

.Red {
  background-color: #ff0000;
  color: white;
  text-align: center;
  font-weight: bold;
}

.instrumentNameContainer {
  display: flex;
}

.instrument {
  padding-bottom: 10px;
}

.pp {
  padding-top: 5px;
  padding-right: 5px;
}

.instrumentName {
  flex-direction: column;
  width: 200px;
  height: 30px;
}

.catDetails {
  padding-bottom: 30px;
}

.catName {
  padding-top: 10px;
}

.tableWrapper {
  border-spacing: 0;
  border: 5px solid #ededed;
  width: 100%;

  tr:nth-child(2n) {
    background-color: #fafafa;
  }

  th {
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid black;
    border-right: 1px dashed black;
  }

  td {
    padding: 5px 10px;
    text-align: center;
    border-right: 1px dashed black;
  }
}

.globalFilter {
  padding-bottom: 20px;
}

.globalFilterInput {
  width: 235px;
}

.tableDiv {
  padding-top: 20px;
}

.toggleContainer {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.toggleP {
  display: inline-block; 
  align-items: center; 
  padding-left: 10px;
  font-weight: bold;
  height: 10px
}

.toggleBox {
  flex: none; 
  height: 15px;
  width: 15px;
  vertical-align: middle;
  top: 1px;
}